body {
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


.header,
.footer {
    font-size: 24px;
    color: white;
    background-color: #1f2937;
    text-align: center;
    padding: 10px;
}



.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: 
    "screen screen screen screen"
    "clear sign percent divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero period equal";
    padding: 20px;
    align-self: center;
    
}

.container > * {
    padding: 10px;
    background-color: lightgrey;
    border: solid black 1px;
    border-radius: 6px;
    text-align: center;
}

#screen {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 24px;
}

button:hover {
    background-color: lightcoral;
}

